
<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                (input)="validatemath(math)"
                required>
                <span [hidden]="hasNotErrorMath" style=color:red>Between 0 and 100</span>
                <span [hidden]="hasNotErrorMathString" style=color:red>Must be number</span>

                

            </mat-form-field>
        </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psicometry</mat-label>
              <input matInput 
                [(ngModel)] = "psicometry"
                name = "psicometry"
                (input)="validatepsico(psicometry)"
                required>
                <span [hidden]="hasNotErrorPsico" style=color:red>Between 0 and 800</span>
                <span [hidden]="hasNotErrorPsicoString" style=color:red>Must be number</span>

                
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Payed</mat-label>
              <input matInput 
                [(ngModel)] = "payed" 
                name = "payed" 
                >
                <mat-checkbox class="example-margin"
          
          (change)="selected=!(selected)"></mat-checkbox>
            </mat-form-field>
          </p>                      
        <div >
          <button *ngIf="!(showDrop)" mat-raised-button
           
          color = "primary"
          (click) = "predict(math,psicometry,selected);showDrop=!showDrop"
          >
          Predict
          </button>
          <mat-form-field *ngIf="showDrop" appearance="fill">
            <mat-label >{{predDrop}}</mat-label >
            <mat-select [(ngModel)] = "predDrop" name = "predDrop">
              <mat-option *ngFor="let option of options" [value]="option"   >
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <button *ngIf="showDrop" mat-raised-button
          color = "primary"
          (click) = "save(userId,email,math,psicometry,selected,predDrop)">
          Save
          </button>
          <button *ngIf="showDrop" mat-raised-button
           
          color = "primary"
          (click) = "cancel();showDrop=!showDrop">
          Cancel
          </button>
        </div>
      </div>
    </form>
   </mat-card>