<table mat-table [dataSource]="students" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef> math </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.math}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.math" 
            [value] = "element.math"            
          >
        </mat-form-field>
      </td>
    </ng-container>
  
    <!-- Years Column -->
    <ng-container matColumnDef="psicometry">
      <th mat-header-cell *matHeaderCellDef> psicometry </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.psicometry}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.psicometry" 
            [value] = "element.psicometry"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="payed">
      <th mat-header-cell *matHeaderCellDef> payed </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.selected}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.payed" 
            [value] = "element.payed"            
          >
        </mat-form-field>         
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>  user saved </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.email}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.email" 
            [value] = "element.email"            
          >
        </mat-form-field>         
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          mat-raised-button
          color = 'warn'
          (click) = "deleteCustomer(i)"
        >
          Delete
        </button>                  
      </td>
    </ng-container>    
    <!-- result Column -->
    <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef> Prediction </th>
        <td mat-cell *matCellDef="let element">
          <span  [ngClass]="[element.result=='Will be ok' ? 'green' : 'red']">{{element.result}}</span>
        </td>
      </ng-container>    
    
      
        
    <!--[checked]="element.result=='Will pay'"-->
       
   
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
